.box {
    height: 400px;
    padding: 20px;
    color: #fff;
    background: deepskyblue;
}

.margin-top-80 {
    margin-top: 80px;
}

.container2 {
    background-image: url("https://github.com/Jrfelix13/Final-Project/blob/master/gr%C3%A1ficos-sitio/portada.PNG?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    font-family: Helvetica;
}