.container2 {
    background-image: url("https://github.com/Jrfelix13/Final-Project/blob/master/gr%C3%A1ficos-sitio/portada.PNG?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.container3 {
    background-color: whitesmoke;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.navbar-nav.mr-auto {
    color: black;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.text {
    color: rgb(11, 14, 35);
}

.row {
    align-content: center;
    align-self: center;
    align-items: center;
}