<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">
    <title>Instacart Market</title>

    <!-- Bring in our bootstrap stylesheet -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="story">Story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about_us" style="font-weight: bold;">About us</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Creates the Overall Grid -->
    <!-- Creates Main stage -->
    <div class="container3">
        <img style="margin-top: 1000 px" class="mx-auto d-block" src="https://github.com/Jrfelix13/Final-Project/blob/master/gr%C3%A1ficos-sitio/firma_os.PNG?raw=true" width="300" height="150" alt="TAJ">
    </div>
    <br>
    <div class="row">
        <h1 style="color: black; font-weight: bold; margin-left: 80px; margin-right: 10px;">We are TAJ
        </h1>
    </div>
    <br>
    <!-- Second Stage -->
    <div data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" class="container1">
        <div class="container">
            <!-- Single column -->
            <div class="col-md-12">
                <h3 style="padding-right: 100 px; color: grey; font-weight: normal; text-align:center; vertical-align: middle;">We help small and large organizations to maximize the value of their data, discover insights, build plans and respond in real time to customer demand.
                </h3>
            </div>
        </div>
    </div>
    <br>
    <!-- Third Stage -->
    <br>
    <div data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" class="container1">
        <div class="row">
            <!-- Second of two columns -->
            <div class="col-md-4">
                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-bricks" fill="rgb(11, 14, 35)" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2H15V1H5.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z" />
                </svg>
            </div>
            <div class="col-md-4">
                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-bar-chart-line" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z" />
                </svg>
            </div>
            <div class="col-md-4">
                <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-wallet-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2h-13z" />
                    <path
                        d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-6z" />
                </svg>
            </div>
            <!-- First of two columns -->
            <div class="col-md-4">
                <h3 style="margin-left:10 px; margin-right:80 px; color: grey; font-weight: normal; text-align:center; vertical-align: middle;">Data Cleaning
                </h3>
            </div>
        </div>
    </div>
    <br>
    <!-- Footer -->
    <div class="row" style="background-color: rgb(11, 14, 35);">
        <footer class="container" style="background-color: rgb(11, 14, 35);">
            <img style="margin-bottom: 30px; float: right;" src="https://github.com/Jrfelix13/Final-Project/blob/master/gr%C3%A1ficos-sitio/firma2.PNG?raw=true" width="180" height="90" alt="TAJ">
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/js/pies.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>