<!DOCTYPE html>
<html lang="en-us">

<head>

    <meta charset="UTF-8">
    <title>Instacart Market</title>

    <!-- Bring in our bootstrap stylesheet -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="story" style="font-weight: bold;">Story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about_us">About us</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Creates the Overall Grid -->
    <!-- Creates Main stage -->
    <div class="row">
        <img style="background-size: cover; background-position: center;" src="https://github.com/Jrfelix13/Final-Project/blob/master/gr%C3%A1ficos-sitio/SAM.PNG?raw=true" width="1400" height="400" alt="SAM">
    </div>
    <br>
    <div class="row">
        <h1 style="color: black; font-weight: bold; margin-left: 80px; margin-right: 10px;">Meet Sam!
        </h1>
    </div>
    <div class="row">
        <h3 style="color: black; font-weight: normal; margin-left: 80px; margin-right: 10px;">Our general user type
        </h3>
    </div>
    <br>
    <!-- Second Stage -->
    <div data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" class="container1">
        <div class="row">
            <!-- First of two columns -->
            <div class="col-md-4">
                <div id="chart-text" class="panel-body">
                    <!-- We append our chart text here. -->
                </div>
            </div>
            <!-- Second of two columns -->
            <div class="col">
                <button id="selDep" type="button" class="btn btn-secondary text-center">Departments</button>
                <button id="selPro" type="button" class="btn btn-secondary text-center">Products</button>
                <div id="pie1">
                    <!-- We append our chart here. -->
                </div>
            </div>
        </div>
    </div>
    <!-- Third Stage -->
    <br>
    <div data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" class="container1">
        <div class="row">
            <!-- Second of two columns -->
            <div class="col-md-6">
                <img style="margin-left: 120px;" src="https://github.com/Jrfelix13/Final-Project/blob/master/gr%C3%A1ficos-sitio/problem.PNG?raw=true" width="400" height="400" alt="Problem">
            </div>
            <!-- First of two columns -->
            <div class="col-md-6">
                <h3 style="margin-left:10 px; margin-right:80 px; color: grey; font-weight: normal; text-align:center; vertical-align: middle;">“Sam plans grocery shopping on the first week of the month, sometimes at the end month she gets rid of groceries”
                </h3>
            </div>
        </div>
    </div>
    <!-- Fourth Stage -->
    <br>
    <div data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000" class="container1">
        <div class="row">
            <!-- First of two columns -->
            <div class="col-md-6">
                <h3 style="margin-left:80 px; color: grey; font-weight: normal; text-align:center; vertical-align: middle;">
                    “Mondays are her favorite day to order groceries”
                </h3>
                <h5 style="margin-left:80 px; color: black; font-weight: normal; text-align:center; vertical-align: middle;">
                    “65% of the orders are placed in mondays”
                </h5>
            </div>
            <!-- Second of two columns -->
            <div class="col-md-6">
                <div id="my_dataviz">

                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="row" style="background-color: rgb(11, 14, 35);">
        <footer class="container" style="background-color: rgb(11, 14, 35);">
            <img style="margin-bottom: 10px; float: right;" src="https://github.com/Jrfelix13/Final-Project/blob/master/gr%C3%A1ficos-sitio/firma2.PNG?raw=true" width="180" height="90" alt="TAJ">
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../static/js/pies.js"></script>
    <script src="../static/js/Heatmap.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>